/* Add this CSS to your stylesheet */
.visualization-container {
    display: flex;
    flex-direction: column; /* Display the visualizations in a column layout */
    align-items: center; /* Center the visualizations horizontally */
    margin: 20px auto; /* Add some top and bottom margin */
  }
  
#choropleth_map {
    margin-top: 20px; /* Add some space between the two visualizations */
  }